body{
    margin:0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing:border-box;
    padding:0;
}
:root{
 --primary:#333;
 --light:#fff;
}
#showcase{
    background:var(--primary);
    color:var(--primary);
    overflow:auto;
    text-align: center;
}
#shoecase h1{
    text-align:center;
}
ul.nav {
    text-align:center;
}
ul.nav li {
    list-style:none;
    display:inline-block;
    margin:10px;
    padding:10px;
    background:var(--light);
    color:black;
}

ul.nav li:hover{
    background:red;

}
ul.nav li a{
    text-decoration: none;
    font-weight:bold;
    padding:10px;
}
ul.nav li.active{
    background:red;
}